h1.title {
	font: 400 11.2vw/0.8 "Great Vibes", Helvetica, sans-serif;
	color: white;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.subtitle {
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 4.4vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	color: white;
}

.sec-title {
	font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
	font-size: 5.2vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: black;
	padding-bottom: 100px;

}

.bot-title {
	font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
	font-size: 4.4vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	margin-top: 100px;
	color: white;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4.4vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
	color: white;
}

.background {
	background-color: black;
}

.header{
	margin-bottom: 40px;
}

ul {
	display: block;
	text-align: right;
	line-height: 38px;
	margin: 10px;
	padding: 10px;
	position: relative;
	font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	color: white;
	text-decoration: none;
	list-style-type: none;
}

li {
	display: inline;
	padding: 10px 20px;
	text-align: right;
}

/* unvisited link */

li a:link {
	color: white;
	text-decoration: none;
}

li a:hover {
	color: #AD974F;
}

.featured {
	text-align: center;
	transform: skewY(10deg);
	color: #000000
}



.content {
	text-align: center;
	padding-bottom: 100px;
}

.btn {
	color: black;
	margin-bottom: 100px;
	margin-top: 50px;
	text-decoration: none;
}

.contact-btn {
	color: black;
	margin-bottom: 100px;
	margin-top: 10px;
	text-decoration: none;
}

.fa-pencil {
	display: inline;
	line-height: 40px;
	color: grey;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
}

.fa-pencil:hover {
	color: white;
}

.fa-envelope {
	display: inline;
	line-height: 40px;
	color: grey;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
}

.fa-envelope:hover {
	color: white;
}

.fa-twitter {
	display: inline;
	line-height: 40px;
	color: grey;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
}

.fa-twitter:hover {
	color: white;
}

.fa-photo {
	display: inline;
	line-height: 40px;
	color: grey;
	margin-right: 20px;
	text-decoration: none;
}

.fa-photo:hover {
	color: white;
}

.fa-video-camera {
	display: inline;
	line-height: 40px;
	color: grey;
	margin-right: 20px;
	text-decoration: none;
}

.fa-video-camera:hover {
	color: white;
}

.fa-code {
	display: inline;
	line-height: 40px;
	color: grey;
	text-decoration: none;
}

.fa-code:hover {
	color: white;
}


.middle-story{
	margin-top: 100px;
	margin-bottom: 100px;

}

.title {
	padding-top: 100px;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF
}

.titlesmall {
	font-weight: normal;
	padding-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
	font: "Helvetica Light", Arial, sans-serif;
}

.text {
	width: 60%;
	margin: 25px auto;
	color: #000000;
}

.skewed-bg {
	background: #FFFFFF;
	padding: 100px;
	transform: skewY(-10deg);
	overflow: hidden;
}

.gallery-container {
	transform: skewY(10deg)

}

.footer {
	font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
	font-size: 2vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	padding: 10px;
	color: white;

}

.gallery-container {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 70px;
}

.gallery-item {
	width: 31%;
	margin-bottom: 3.2rem;
	position: relative;
	perspective: 5000px;
	perspective-origin: 100%;
}


.gallery-item__image-container {
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	overflow: hidden;
	box-shadow: 0 25px 50px rgba(0, 0, 0, .25);
	line-height: 0;
	display: block;
	background: #fff;
	transition: transform .15s ease-out
}

.gallery-item__image-container img {
	width: 100%;
	transition: all .15s ease-out;
	opacity: 0;
}

.gallery-item__image-container:hover {
	transform: scale(1.05)
}

.gallery-item__image-container:hover img {
	transform: scale(1.1)
}

.photos-gallery-container {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 176px;
}

.videos-gallery-container {
	width: 100%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 176px;
}

.code-gallery-container {
	width: 100%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 176px;
}

.gallery-headline {
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	color: Black;
	text-align: center;
	margin-top: 30px;
}

.gallery-outlet {
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 30px;
	color: grey;
	text-align: center;
	margin-top: 10px;
}

.gallery-item__image-container .loaded {
		opacity: 1;
}
